{% extends "@Contao/be_main" %}

{% block main_content %}
    <div class="tl_listing_container">
        <h1>{{ headline }}</h1>

        <p class="tl_info">{{ introText }}</p>

        <p><strong>Version:</strong> v0.1.13</p>
    </div>
{% endblock %}
